@charset "utf-8";

iframe#tela {
    position: relative;
    left: 150px;
    width: 600px;
    height: 405px;
}

html, body{
    min-width: 1024px;
    min-height: 768px;
}

body{
    background: black url(imagens/gengar.jpeg) center center no-repeat fixed;
    background-size: cover;
    overflow: hidden;
}

section#quadro {
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-image: url(imagens/tela.png) no repeat;
    margin: 0px;
    padding: 0px;
}

section#pokemons {
    text-align: center;
}

section#pokemons img{
    max-width: 100px;
    margin: 10px;
    border-radius: 50% 50%;
    box-shadow: 1px 1px 20px #3c214d9f;
    box-sizing: border-box;
}

