@charset "utf-8";

iframe#tela {
    position: relative;
    left: 150px;
    width: 600px;
    height: 405px;
}

section#quadro {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

    background-image: url(imagens/tela.png) no repeat;
    margin: 0px;
    padding: 0px;
}

section#pokemons {
    text-align: center;
}

section#pokemons img{
    max-width: 100px;
    margin: 10px;
    border-radius: 50% 50%;
    box-shadow: 1px 1px 20px #3c214d9f;
    box-sizing: border-box;
}

