@charset "utf-8";

iframe#tela{
    width: 450px;
    height: 500px;
}

section#quadro {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);

    background-image: url(imagens/tela.png) no repeat;
    margin: 0px;
    padding: 0px;
}

html, body{
    height: auto;
    width: auto;
}

body{
    overflow-y: auto;
    background: black url(imagens/gengar.jpeg) center center no-repeat fixed;
    background-size: cover;
}

section#pokemons{
    position: relative;
    text-align: center;
}

section#pokemons img{
    max-width: 60px;
    margin: 10px;
    border-radius: 50% 50%;
    box-shadow: 1px 1px 20px #3c214d9f;
    box-sizing: border-box;
}