@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 1.5em;
}

table{
    width: 100vw;
}

td {
    border: 1px solid white;

}

th {
    border: 1px solid white;
}