@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,700&display=swap');


body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-image: url(../imagens/background/pngwing.com3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root{
    --laranja: #FF9A6C;
    --escuro: #263138;
    --laranjaClaro: #FFE5DA;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}


.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--laranja);
    padding: 20px;
}


.nav-list{
    display: flex;
    gap: 55px;
}

.nav-list > a{
    text-decoration: none;
    font-weight: 800;
    color: white;
}

.nav-list > a:hover{
    transition: 0.5s;
    color: var(--escuro);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.859);
}

#inicio, #clinica{
    background-image: url(../imagens/shape.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px;
    display: flex;
    flex-direction: row;
    .imgsPrincipais{
        max-width: 500px;
    }
}

#duvidas{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

.duvida h3{
    border: 2px solid var(--laranja);
    border-radius: 8px;
    cursor: pointer;
}

.duvida img{
    position: absolute;
    top: 60px;
    right: 50px;
}

.duvida > p{
    border-right: 2px solid var(--laranja);
    border-bottom: 2px solid var(--laranja);
    border-left: 2px solid var(--laranja);
    border-radius: 0 0 8px 8px;
    padding: 20px;
    margin-top: -8px;
}

.duvida{
    position: relative;
}

#inicio, #clinica, #farmacia, #duvidas{
    background-color: rgba(231, 231, 231, 0.362);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#inicio > div, #clinica > div, #farmacia > div, #duvidas > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#farmacia{
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgsPrincipais{
        max-width: 700px;
    }
}

#clinica li {
    margin-bottom: 16px;
}

.divTexto{
    text-align: justify;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    padding: 30px;
}

.divTexto > ul{
    padding-top: 40px;
}

.divTexto > h2{
    padding-bottom: 20px;
}

.divTexto > h3{
    padding: 20px;
}

footer{
    height: 300px;
    background-color: var(--laranjaClaro);
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.divFrase{
    max-width: 400px;
}

.divFrase img{
    padding-bottom: 10px;
}

.linksRapidos{
    display: flex;
    flex-direction: column;
    gap: 15px;;
}

.linksRapidos a:hover{
    transition: 0.3s;
    color: var(--laranja);
}

.divEncontre{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.divEncontre a{
    color: var(--laranja);
    text-decoration: none;
}

.divAssinatura{
    background-color: var(--escuro);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divAssinatura a{
    text-decoration: none;
    font-weight: bold;
    color: var(--laranja);
}

.divAssinatura a:hover{
    transition: 0.5s;
    color: var(--laranjaClaro);
}