.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 800px;
    gap: 15px;
    margin: 100px auto;
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #39813a;
    border-radius: 5px;
    cursor: pointer;
}

.front{
    transform: rotateY(180deg);
    color: white;
}

.back{
    background-image: url(../images/back.png);
    backface-visibility: hidden;
}

.reveal-card{
    transform: rotateY(180deg);
}