main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    border-radius: 5px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 800px;
    gap: 15px;
    margin: 0 auto;
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: white;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #39813a;
    border-radius: 5px;
    cursor: pointer;
    transition: all 400ms ease;
}

.front{
    transform: rotateY(180deg);
    color: white;
}

.back{
    background-image: url(../images/back.png);
    backface-visibility: hidden;
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.5;
}