@charset "UTF-8";

.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.loginHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.loginHeader > img{
    width: 100px;
}

.loginHeader > h1{
    color: #333;
    font-size: 1.5em;
}

.loginInput{
    border: 2px solid black;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
}

.loginBtn{
    background-color: #ee665c;
    padding: 15px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
}

.loginBtn:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}