@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,500;0,700;1,200&display=swap');
@import url(estilos/container1.css);
@import url(estilos/mq.css);

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
}

body{
    background-color: black;
}

.redesSociais{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.iconeR{
    max-width: 15px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}

.detalhe{
    max-width: 50px;
    padding: 25px 0px 40px 0px;
}

.qualitativos{
    max-width: 100vw;
    height: auto;
    padding: 30px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imgQ{
    max-width: 350px;
    padding: 16px;
}

.btnN{
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.btnN:hover{
    transition: 0.7s;
    color: #F5900D;
}

.titulosColoridos{
    padding: 20px;
}
.about{
    padding: 20px;
    padding-top: 40px;
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cadeira{
    max-width: 300px;
    height: auto;
    padding: 15px;
}

.webDesign{
    max-width: 100vw;
    height: 80px;
    background-image: url(imagens/textoBackground.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.caixaPessoasPlanejando{
    max-width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPessoasPlanejando{
    max-width: 90vw;
    height: auto;
}


.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.services{
    max-width: 100vw;
    height: auto;
}

.boxServices{
    max-width: 250px;
    background-color: #101010;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.textService{
    text-align: justify;
}

.imgService{
    max-width: 90px;
    margin: 20px;
}

.depoimento{
    background-image: url(imagens/backgroundJenni.png);
    max-width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.depoimentoP{
    max-width: 600px;
}

.imgRaika{
    max-width: 200px;
    margin: 30px;
}


.footer{
    background-image: url(imagens/backgroundFooter.png);
    background-size: cover;
    background-color: #101010;
    max-width: 100vw;
    height: auto;
    padding: 20px;
}

.imgFooter{
    max-width: 100px;
}

.footerCaixa1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLeft{
    padding: 10px;
}

.liFooter{
    text-decoration: none;
    font-size: 10px;
    color: gray;
}