@charset "UTF-8";

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

.nav-list.active{
    transform: translateX(0);
}

.mobile-menu.active .line1{
    transition: 0.5s;
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transition: 0.5s;
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1030px) {
    #inicio, #clinica, #farmacia, #duvidas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .imgsPrincipais{
            max-width: 300px;
        }
    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--laranja);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        gap: 0px;
    }

    .nav-list a{
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .divTexto{
        text-align: justify;
        max-width: 400px;
        flex-direction: column;
        justify-content: center;
    }
}